{{#if @root.visitor.kyc.pending}}
  <div class="content-hidden">
    <h4 class="content-hidden__title">{{__ 'content-hidden.pending.title'}}</h4>
    <p class="content-hidden__subtitle">{{__ 'content-hidden.pending.description' companyTitle}}</p>
    <p class="content-hidden__notice">{{__ 'content-hidden.pending.notice'}}</p>
  </div>
{{else}}
  <div class="content-hidden">
    <h4 class="content-hidden__subtitle">{{__ 'content-hidden.title' companyTitle}}</h4>
    <a href="{{ @root/origin.id }}/kyc" class="content-hidden__link small-button --company">
      <span class="small-button__text">{{__ 'offering-stub.action.verify'}}</span>
    </a>
    <p class="content-hidden__notice">{{__ 'offering-stub.notice'}}</p>
  </div>
{{/if}}
