<section class="offering__terms common__centered">
    <h2 class="offering__title-2">Deal Terms</h2>
    <ul class="offering__terms__list">
      {{#if valuation }}
          <li class="offering__terms__list__item">
            {{#if convertible_debt}}
                <h3 class="offering__terms__list__item__title">Valuation Cap</h3>
            {{else}}
                <h3 class="offering__terms__list__item__title">Valuation</h3>
            {{/if}}
              <p class="offering__terms__list__item__value">{{ valuation_formatted }}</p>
          </li>
      {{/if}}
        <li class="offering__terms__list__item">
            <h3 class="offering__terms__list__item__title">Funding Round</h3>
            <p class="offering__terms__list__item__value">{{ round_formatted }}</p>
        </li>
        <li class="offering__terms__list__item">
            <h3 class="offering__terms__list__item__title">Minimum Investment</h3>
            <p class="offering__terms__list__item__value">{{ min_investment_formatted }}</p>
        </li>
        <li class="offering__terms__list__item">
            <h3 class="offering__terms__list__item__title">Type of Security</h3>
            <p class="offering__terms__list__item__value">{{ type_formatted }}</p>
        </li>
      {{#if equity }}
          <li class="offering__terms__list__item">
              <h3 class="offering__terms__list__item__title">Offered Equity</h3>
              <p class="offering__terms__list__item__value">{{ equity_formatted }}</p>
          </li>
      {{/if}}
        <li class="offering__terms__list__item">
            <h3 class="offering__terms__list__item__title">Round Size</h3>
            <p class="offering__terms__list__item__value">{{ goal_formatted }}</p>
        </li>
        <li class="offering__terms__list__item">
            <h3 class="offering__terms__list__item__title">Deadline</h3>
            <p class="offering__terms__list__item__value">{{ date_end_formatted }}</p>
        </li>
    </ul>
</section>
