{{#if @root.visitor.kyc.pending}}
  <div class="offering-stub">
    <h2 class="offering-stub__title">{{__ 'offering-stub.pending.title'}}</h2>
    <p class="offering-stub__subtitle">{{__ 'offering-stub.pending.description'}}</p>
    <p class="offering-stub__notice">{{__ 'offering-stub.pending.notice'}}</p>
  </div>
{{else}}
  <div class="offering-stub">
    <h2 class="offering-stub__subtitle">{{__ 'offering-stub.title'}}</h2>
    <a href="{{ @root/origin.id }}/kyc" class="offering-stub__link small-button --company">
      <span class="small-button__text">{{__ 'offering-stub.action.verify'}}</span>
    </a>
    <p class="offering-stub__notice">{{__ 'offering-stub.notice'}}</p>
  </div>
{{/if}}
