<div class="offering-status --{{ status }}">
  <img src="{{asset '/img/ic_check_48.svg'}}" class="offering-status__icon" alt="{{__ 'offering.status.completed'}}" />
  <h2 class="offering-status__title">{{__ 'offering.completed.title'}}</h2>
  <p class="offering-status__description">{{__ 'offering.completed.description' companyTitle offering.raise_formatted offering.date_end_formatted}}</p>
</div>
