<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ page.dir }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="manifest" href="{{asset '/meta/site.webmanifest'}}" />
  <link rel="shortcut icon" href="{{asset '/meta/favicon.ico'}}" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{asset '/meta/apple-touch-icon.png'}}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{asset '/meta/favicon-32x32.png'}}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{asset '/meta/favicon-16x16.png'}}" />
  <link rel="mask-icon" href="{{asset '/meta/safari-pinned-tab.svg'}}" color="#003dc6" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">

  <meta property="og:site_name" content="tokenize.Jibrel.network" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />

  <meta property="og:image" content="https://tokenize.jibrel.network{{asset '/meta/pic_jibrel_master.png'}}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="https://tokenize.jibrel.network{{asset '/meta/pic_jibrel_master.png'}}" />

  <link rel="stylesheet" href="{{asset '/styles/common.css'}}" />
  <link rel="stylesheet" href="{{asset '/styles/navigation.css'}}" />

  <!-- Google Analytics -->
  <script src="/generated/track.js?id={{ @root/env.GOOGLE_ANALYTICS_ID }}"></script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <!-- End Google Analytics -->
</head>
<body>
{{> @partial-block }}
</body>
</html>
