{{#> layouts/default}}
  <div class="page">
    <header class="page__header">
      {{> partials/navbar color="black" }}
    </header>
    <div class="page__content">
      <article class="error common__centered common__with-navigation-offset">
        <img class="error__hero" src="{{asset '/img/pic_hero_500_error.png'}}" alt="500 Internal Server Error" />
        <h1 class="error__title">{{__ '500.title'}}</h1>
        <div class="error__wrapper common__grid">
          <p class="error__description common__grid__item --xs-4 --s-8 --m-6 --l-6">{{__ '500.description'}}</p>
        </div>
        <div class="error__wrapper common__grid">
          <a id="t_500BackButton" href="/{{ page.lang }}" class="error__button common__grid__item --xs-4 --s-8 --m-4 --l-4 big-button --main">{{__ '500.action.back'}}</a>
        </div>
      </article>
    </div>
    <footer class="page__footer">
      {{> partials/footer }}
    </footer>
  </div>
{{/layouts/default}}
