{{#> layouts/default}}
    <div class="page">
        <header class="page__header">
          {{> partials/navbar color="white" }}
        </header>
        <article class="page__content offering">
            <div class="offering__primary">
                <div class="offering__primary__hero" style="background-image: url({{cdn hero_img }});">
                    <div class="offering__primary__hero__overlay"></div>
                </div>
                {{#if video_url}}
                <a href="{{ video_url }}" target="_blank" rel="noopener noreferrer" class="offering__primary__watch--large">
                    <span class="offering__primary__watch__text">Watch video</span>
                </a>
                {{else}}
                <div class="offering__primary__watch--large --placeholder"></div>
                {{/if}}
                <div class="common__centered">
                    <div class="offering__primary__about">
                        <div class="offering__primary__content">
                            <div class="offering__primary__logo" style="background-color: {{logo_bg_color}};">
                                <img class="offering__primary__logo__img" alt="{{ title }} Logo" src="{{cdn logo_img }}" />
                            </div>
                            <h1 class="offering__primary__title">{{ title }}</h1>
                            <ul class="offering__primary__tags">
                                {{#each translation.tags}}
                                <li class="offering__primary__tags__item">{{ title }}</li>
                                {{/each}}
                            </ul>
                            {{#if video_url}}
                            <a href="{{ video_url }}" target="_blank" rel="noopener noreferrer" class="offering__primary__watch--small">Watch video</a>
                            {{else}}
                            <div class="offering__primary__watch--small --placeholder"></div>
                            {{/if}}
                            <p class="offering__primary__excerpt">{{ translation.pitch }}</p>
                        </div>
                        <div class="offering__primary__sidebar">
                            {{#with current_offering}}
                                {{#if is_active}}
                                <a href="//id.{{ ../env.FRONTEND_ROOT_DOMAIN_NAME }}/invest" class="offering__primary__invest common__button">Invest now</a>
                                {{else}}
                                <div class="offering__primary__invest --placeholder"></div>
                                {{/if}}
                                {{#if @root.visitor.isKnown}}
                                    <h2 class="offering__primary__investment">
                                        <span class="offering__primary__investment__commited">{{ raise_formatted }}</span> commited of {{ goal_formatted }} goal
                                    </h2>
                                    <div class="offering__primary__investment-progress">
                                        <div class="offering__primary__investment-progress-finished" style="width: {{ progress }}%;"></div>
                                    </div>
                                    <ul class="offering__primary__investment-features">
                                        <li class="offering__primary__investment-features__item">
                                            <h3 class="offering__primary__investment-features__item__title">From</h3>
                                            <p class="offering__primary__investment-features__item__value">{{ participants }} investors</p>
                                        </li>
                                        {{#if date_end_left_formatted}}
                                        <li class="offering__primary__investment-features__item">
                                            {{#if is_active}}
                                            <h3 class="offering__primary__investment-features__item__title">Time Left</h3>
                                            {{else}}
                                            <h3 class="offering__primary__investment-features__item__title">Finished</h3>
                                            {{/if}}
                                            <p class="offering__primary__investment-features__item__value">{{ date_end_left_formatted }}</p>
                                        </li>
                                        {{/if}}
                                    </ul>
                                {{else}}
                                    <div class="offering__stub --sidebar">
                                        <h2 class="offering__stub__title">To view deal terms, verify your identity</h2>
                                        <a href="//id.{{ ../env.FRONTEND_ROOT_DOMAIN_NAME }}/kyc" class="offering__stub__link">Verify identity</a>
                                        <p class="offering__stub__notice">To comply with financial regulations, we can only show full campaign details to registered users.</p>
                                    </div>
                                {{/if}}
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            {{#if @root.visitor.isKnown}}
                {{#with current_offering}}
                    {{> partials/deal }}
                {{/with}}
            {{/if}}
            <section class="offering__description common__centered --grid">
                <h2 class="offering__title-2 --hidden">Description</h2>
                <div class="offering__description__content common__html-content common__grid__item">
                    {{#each translation.content}}
                        {{#if isVisible}}
                            {{{projectMD data }}}
                        {{else}}
                            <h3>{{ title }}</h3>
                            <div class="offering__stub --description">
                                <h4 class="offering__stub__title">Create and verify an account to reveal full {{../title}} campaign details</h4>
                                <a href="//id.{{ ../env.FRONTEND_ROOT_DOMAIN_NAME }}/kyc" class="offering__stub__link">Verify identity</a>
                                <p class="offering__stub__notice">To comply with financial regulations, we can only show full campaign details to registered users.</p>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </section>
            {{#with current_offering}}
                {{#if is_active}}
                <section class="offering__last-chance common__centered">
                    <div class="offering__last-chance__button">
                        <a href="//id.{{ ../env.FRONTEND_ROOT_DOMAIN_NAME }}/invest" class="common__button">Invest now</a>
                    </div>
                </section>
                {{/if}}
            {{/with}}
            {{#unless @root.visitor.isKnown}}
                <section class="common__centered --grid">
                    <div class="offering__stub --footer">
                        <h2 class="offering__stub__title">To view deal terms, verify your identity</h2>
                        <a href="//id.{{ env.FRONTEND_ROOT_DOMAIN_NAME }}/kyc" class="offering__stub__link">Verify identity</a>
                        <p class="offering__stub__notice">To comply with financial regulations, we can only show full campaign details to registered users.</p>
                    </div>
                </section>
            {{/unless}}
            <section class="offering__contacts common__centered">
                <h2 class="offering__title-2">About {{ title }}</h2>
                <ul class="offering__contacts__list">
                    {{#if legal_name}}
                    <li class="offering__contacts__list__item">
                        <h3 class="offering__contacts__list__item__title">Legal Name</h3>
                        <p class="offering__contacts__list__item__value">{{ legal_name }}</p>
                    </li>
                    {{/if}}
                    {{#if founded}}
                    <li class="offering__contacts__list__item">
                        <h3 class="offering__contacts__list__item__title">Founded</h3>
                        <p class="offering__contacts__list__item__value">{{ founded }}</p>
                    </li>
                    {{/if}}
                    {{#if employees}}
                    <li class="offering__contacts__list__item">
                        <h3 class="offering__contacts__list__item__title">Employees</h3>
                        <p class="offering__contacts__list__item__value">{{ employees }}</p>
                    </li>
                    {{/if}}
                    {{#if website_url}}
                    <li class="offering__contacts__list__item">
                        <h3 class="offering__contacts__list__item__title">Website</h3>
                        <p class="offering__contacts__list__item__value">
                            <a href="{{ website_url }}" target="_blank" rel="noopener noreferrer">{{ website_name }}</a>
                        </p>
                    </li>
                    {{/if}}
                    {{#if social}}
                    <li class="offering__contacts__list__item">
                        <h3 class="offering__contacts__list__item__title">Social</h3>
                        <ul class="offering__contacts__list__item__value offering__contacts__list__social-list">
                            {{#if social.facebook }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.facebook }}" class="offering__contacts__list__social-list__item__link --facebook">Facebook</a>
                            </li>
                            {{/if}}
                            {{#if social.instagram }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.instagram }}" class="offering__contacts__list__social-list__item__link --instagram">Instagram</a>
                            </li>
                            {{/if}}
                            {{#if social.twitter }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.twitter }}" class="offering__contacts__list__social-list__item__link --twitter">Twitter</a>
                            </li>
                            {{/if}}
                            {{#if social.linkedin }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.linkedin }}" class="offering__contacts__list__social-list__item__link --linkedin">LinkedIn</a>
                            </li>
                            {{/if}}
                            {{#if social.medium }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.medium }}" class="offering__contacts__list__social-list__item__link --medium">Medium</a>
                            </li>
                            {{/if}}
                            {{#if social.kakaotalk }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.kakaotalk }}" class="offering__contacts__list__social-list__item__link --kakaotalk">KakaoTalk</a>
                            </li>
                            {{/if}}
                            {{#if social.telegram }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.telegram }}" class="offering__contacts__list__social-list__item__link --telegram">Telegram</a>
                            </li>
                            {{/if}}
                            {{#if social.youtube }}
                            <li class="offering__contacts__list__social-list__item">
                                <a target="_blank" rel="noopener noreferrer" href="{{ social.youtube }}" class="offering__contacts__list__social-list__item__link --youtube">YouTube</a>
                            </li>
                            {{/if}}
                        </ul>
                    </li>
                    {{/if}}
                    {{#if location_googlemaps_id}}
                    <li class="offering__contacts__list__item --map">
                        <h3 class="offering__contacts__list__item__title">Location</h3>
                        <p class="offering__contacts__list__item__value">
                            <iframe
                                title="{{ location }}"
                                class="offering__contacts__map"
                                src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ location_googlemaps_id }}&key={{ env.GOOGLE_MAPS_API_KEY }}"
                                width="400"
                                height="300"
                                frameborder="0"
                                style="border:0;"
                                allowfullscreen=""
                            ></iframe>
                        </p>
                    </li>
                    {{/if}}
                </ul>
            </section>
            {{> partials/risks }}
        </article>
        <footer class="page__footer">
          {{> partials/footer }}
        </footer>
    </div>
{{/layouts/default}}
