{{#> layouts/default}}
  <div class="page">
    <header class="page__header">
      {{> partials/navbar color="black" }}
    </header>
    <div class="page__content">
      <article class="invest common__content common__centered">
        <h1 class="invest__title common__page-title">{{__ 'invest.title'}}</h1>
        <div class="invest__main">
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_in_lock.png'}}" width="432" height="432" alt="Lock" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">{{__ 'invest.feature.access.title'}}</h2>
              <div class="common__feature__description">
                <p>{{__ 'invest.feature.access.description'}}</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_in_ghost.png'}}" width="432" height="432" alt="Ghost" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">{{__ 'invest.feature.transparency.title'}}</h2>
              <div class="common__feature__description">
                <p>{{__ 'invest.feature.transparency.description'}}</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_in_exit.png'}}" width="432" height="432" alt="Door" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">{{__ 'invest.feature.liquidity.title'}}</h2>
              <div class="common__feature__description">
                <p>{{__ 'invest.feature.liquidity.description'}}</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_in_shield.png'}}" width="432" height="432" alt="Shield" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">{{__ 'invest.feature.regulation.title'}}</h2>
              <div class="common__feature__description">
                <p>{{__ 'invest.feature.regulation.description'}}</p>
              </div>
            </div>
          </section>
          {{#if @root.visitor.isKnown }}
            <section class="common__grid">
              <div class="common__grid__item --xs-4 --s-4 --m-3 --l-4">
                <a href="/{{ page.lang }}" class="invest__start__link big-button --main">{{__ 'invest.action.invest'}}</a>
              </div>
            </section>
          {{else}}
            <section class="invest__start common__grid">
              <h2 class="invest__start__title common__grid__item --xs-4">{{__ 'invest.start.title'}}</h2>
              <p class="invest__start__instructions common__grid__item --xs-4">{{__ 'invest.start.description'}}</p>
              <div class="common__grid__item --xs-4 --s-4 --m-3 --l-4">
                <a href="//id.{{ @root/env.FRONTEND_ROOT_DOMAIN_NAME }}/kyc" class="invest__start__link big-button --main">{{__ 'invest.action.verify'}}</a>
              </div>
            </section>
          {{/if}}
        </div>
      </article>
    </div>
    <footer class="page__footer">
      {{> partials/footer }}
    </footer>
  </div>
{{/layouts/default}}
