{{#> layouts/default}}
<div class="page">
  <header class="page__header">
    {{> partials/navbar color="black" }}
  </header>
  <div class="page__content">
    <div class="main-hero" style="background-image: url({{asset '/img/pic_hero_rocket@2x.png'}});">
      <div class="main-hero__content common__centered">
        <h1 class="main-hero__title">{{{__ 'main.tagline'}}}</h1>
      </div>
    </div>
    <div class="companies common__centered">
      <h2 class="companies__title">{{__ 'main.companies.title'}}</h2>
      <ul class="companies__list common__grid">
        {{#each companies}}
          <li class="companies__list-item common__grid__item --xs-4 --s-8 --m-4 --l-4">
            <a href="{{ permalink }}" class="company-card {{#if @root.visitor.kyc.verified }}--with-stats{{/if}}" style="background-image: url({{cdn preview_bg_img }});">
              <div class="company-card__contents" style="background-image: linear-gradient(180deg, rgba(32, 34, 43, 0) 45.66%, {{ preview_bg_color }} 100%);">
                <div class="company-card__logo" style="background-color: {{logo_bg_color}};">
                  <img src="{{cdn logo_img }}" alt="{{ title }} Logo" class="company-card__logo-img" />
                </div>
                <h3 class="company-card__title">{{ title }}</h3>
                {{#if current_offering.flags.completed}}
                  <div class="company-card__status --completed">{{__ 'offering.status.completed'}}</div>
                {{else if current_offering.flags.waitlist}}
                  <div class="company-card__status --waitlist">{{__ 'offering.status.waitlist'}}</div>
                {{/if}}
                <div class="company-card__tagline">{{ translation.tagline }}</div>
                <div class="company-card__location">{{ location }}</div>
                {{#if @root.visitor.kyc.verified }}
                  {{#with current_offering}}
                    {{#if flags.waitlist}}
                    <div class="company-card__stats">
                      <p class="company-card__stats-note">{{__ 'offering.waitlist.description'}}</p>
                    </div>
                    {{else}}
                    <ul class="company-card__stats">
                      {{#if flags.completed}}
                        <li class="company-card__stat --completed">
                          <h4 class="company-card__stat-title">{{__ 'offering.completed.goal.title'}}</h4>
                          <p class="company-card__stat-value">{{ goal_formatted }}</p>
                        </li>
                      {{else}}
                        <li class="company-card__stat">
                          <h4 class="company-card__stat-title">{{__ 'offering.goal.title'}}</h4>
                          <p class="company-card__stat-value">{{ goal_formatted }}</p>
                        </li>
                      {{/if}}
                      {{#if valuation }}
                        <li class="company-card__stat">
                          <h4 class="company-card__stat-title">{{ valuation_title }}</h4>
                          <p class="company-card__stat-value">{{ valuation_formatted }}</p>
                        </li>
                      {{/if}}
                      <li class="company-card__stat">
                        <h4 class="company-card__stat-title">{{__ 'offering.round.title'}}</h4>
                        <p class="company-card__stat-value">{{ round_formatted }}</p>
                      </li>
                    </ul>
                    {{/if}}
                  {{/with}}
                {{/if}}
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <footer class="page__footer">
    {{> partials/footer }}
  </footer>
</div>
{{/layouts/default}}
