{{#> layouts/default}}
  <div class="page">
    <header class="page__header">
      {{> partials/navbar color="black" }}
    </header>
    <div class="page__content">
      <article class="raise common__content common__centered">
        <h1 class="raise__title common__page-title">{{__ 'raise.title'}}</h1>
        <div class="raise__main">
          <section class="feature common__grid">
            <div class="feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_globe.png'}}" width="432" height="432" alt="Globe" />
            </div>
            <div class="feature__content common__grid__item">
              <h2 class="feature__title">{{__ 'raise.feature.global.title'}}</h2>
              <div class="feature__description">
                <p>{{__ 'raise.feature.global.description'}}</p>
              </div>
            </div>
          </section>
          <section class="feature common__grid">
            <div class="feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_radar.png'}}" width="432" height="432" alt="Radar" />
            </div>
            <div class="feature__content common__grid__item">
              <h2 class="feature__title">{{__ 'raise.feature.diversification.title'}}</h2>
              <div class="feature__description">
                <p>{{__ 'raise.feature.diversification.description'}}</p>
              </div>
            </div>
          </section>
          <section class="feature common__grid">
            <div class="feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_egg.png'}}" width="432" height="432" alt="Egg" />
            </div>
            <div class="feature__content common__grid__item">
              <h2 class="feature__title">{{__ 'raise.feature.management.title'}}</h2>
              <div class="feature__description">
                <p>{{__ 'raise.feature.management.description'}}</p>
              </div>
            </div>
          </section>
          <section class="feature common__grid">
            <div class="feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_shield.png'}}" width="432" height="432" alt="Shield" />
            </div>
            <div class="feature__content common__grid__item">
              <h2 class="feature__title">{{__ 'raise.feature.efficiency.title'}}</h2>
              <div class="feature__description">
                <p>{{__ 'raise.feature.efficiency.description'}}</p>
              </div>
            </div>
          </section>
          <section class="raise__more common__grid">
            <h2 class="raise__more-title common__grid__item --xs-4 --s-8 --l-8">{{__ 'raise.start.title'}}</h2>
            <p class="raise__more-content common__grid__item --xs-4 --s-8 --l-8">{{{__ 'raise.start.description'}}}</p>
            <div class="raise__more-button common__grid__item --xs-4 --s-4 --m-3 --l-4">
              <a id="t_raiseApplyButton" href="https://docs.google.com/forms/d/e/1FAIpQLSfKvxLz2C40YEYDvpEcT1pHEgxKaMHClkzPuSVNpFxsjfC_-Q/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" class="big-button --main">{{__ 'raise.action.contact'}}</a>
            </div>
          </section>
        </div>
      </article>
    </div>
    <footer class="page__footer">
      {{> partials/footer }}
    </footer>
  </div>
{{/layouts/default}}
