{{#> layouts/default}}
  <div class="page">
    <header class="page__header">
      {{> partials/navbar color="black" }}
    </header>
    <div class="page__content">
      <article class="raise common__content common__centered">
        <h1 class="raise__title common__page-title">Raise</h1>
        <div class="raise__main">
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_globe.png'}}" width="432" height="432" alt="Globe" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">Global Capital at a Fraction of the Cost and Time</h2>
              <div class="common__feature__description">
                <p>Jibrel stimulates global capital formation and reduces market frictions by deploying best-in-class financial and legal technology. The platform empowers startups with the ability to raise capital globally at a fraction of the cost and time.</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_radar.png'}}" width="432" height="432" alt="Radar" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">Wider Reach</h2>
              <div class="common__feature__description">
                <p>Jibrel allows startups to attract, onboard and manage a much larger and a more diversified pool of investors. The platform utilizes digitized securities, equity, and convertible notes, to simplify and streamline investor oversight and management.</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_egg.png'}}" width="432" height="432" alt="Egg" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">Easier Management of Equity Rights</h2>
              <div class="common__feature__description">
                <p>By programmatically embedding various divisions of equity rights into digital securities, Jibrel facilitates the automation of governance and compliance making investor management much more scalable.</p>
              </div>
            </div>
          </section>
          <section class="common__feature common__grid">
            <div class="common__feature__icon common__grid__item">
              <img src="{{asset '/img/pic_out_shield.png'}}" width="432" height="432" alt="Shield" />
            </div>
            <div class="common__feature__content common__grid__item">
              <h2 class="common__feature__title">Streamlined Securitization through Digital Equity</h2>
              <div class="common__feature__description">
                <p>Tokenization of equity is a more efficient means of asset securitization. Digital securities provide a wide range of benefits to startups ultimately redefining how companies are built, funded and managed.</p>
              </div>
            </div>
          </section>
          <section class="raise__start">
            <h2 class="raise__start__title">Learn More</h2>
            <p class="raise__start__instructions">If you want to learn more about fundraising with Jibrel, please contact us.</p>
            <a href="mailto:list@jibel.com" class="raise__start__link big-button --main">{{__ 'raise.action.contact'}}</a>
          </section>
        </div>
      </article>
    </div>
    <footer class="page__footer">
      {{> partials/footer }}
    </footer>
  </div>
{{/layouts/default}}
